<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d176f7">  <td>18/04/17 16:36:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Expedia.hotelReservation()[pri:0, instance:tests.Expedia@33c7e1bb]">hotelReservation</td> 
  <td>main@1629604310</td>   <td></td> </tr>
<tr bgcolor="d176f7">  <td>18/04/17 16:36:21</td>   <td>-5581</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Expedia.setUp()[pri:0, instance:tests.Expedia@33c7e1bb]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1629604310</td>   <td></td> </tr>
<tr bgcolor="d176f7">  <td>18/04/17 16:36:31</td>   <td>4070</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Expedia.tearDown()[pri:0, instance:tests.Expedia@33c7e1bb]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1629604310</td>   <td></td> </tr>
</table>
