<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Training test suites</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9687bc">  <td>18/04/16 10:06:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ATagsTest.loginElementsPresentTest()[pri:0, instance:smoketests.ATagsTest@59e5ddf]">loginElementsPresentTest</td> 
  <td>main@1188753216</td>   <td></td> </tr>
<tr bgcolor="e2dbf3">  <td>18/04/16 10:06:34</td>   <td>5223</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPresentTestNG.loginElementsPresentTest()[pri:0, instance:smoketests.LoginPresentTestNG@536aaa8d]">loginElementsPresentTest</td> 
  <td>main@1188753216</td>   <td></td> </tr>
<tr bgcolor="9687bc">  <td>18/04/16 10:06:24</td>   <td>-5540</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ATagsTest.setup()[pri:0, instance:smoketests.ATagsTest@59e5ddf]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1188753216</td>   <td></td> </tr>
<tr bgcolor="e2dbf3">  <td>18/04/16 10:06:29</td>   <td>218</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPresentTestNG.setup()[pri:0, instance:smoketests.LoginPresentTestNG@536aaa8d]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1188753216</td>   <td></td> </tr>
<tr bgcolor="9687bc">  <td>18/04/16 10:06:29</td>   <td>159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ATagsTest.tearDown()[pri:0, instance:smoketests.ATagsTest@59e5ddf]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1188753216</td>   <td></td> </tr>
<tr bgcolor="e2dbf3">  <td>18/04/16 10:06:34</td>   <td>5299</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPresentTestNG.tearDown()[pri:0, instance:smoketests.LoginPresentTestNG@536aaa8d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1188753216</td>   <td></td> </tr>
</table>
