<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d0c87b">  <td>18/04/30 11:44:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.inexistingUserLogin(java.lang.String, java.lang.String, java.lang.String, java.lang.reflect.Method)[pri:0, instance:tests.Login@77ec78b9]">inexistingUserLogin</td> 
  <td>TestNG-PoolService-3@439729351</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>18/04/30 11:44:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.inexistingUserLogin(java.lang.String, java.lang.String, java.lang.String, java.lang.reflect.Method)[pri:0, instance:tests.Login@77ec78b9]">inexistingUserLogin</td> 
  <td>TestNG-PoolService-3@439729351</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>18/04/30 11:44:38</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.inexistingUserLogin(java.lang.String, java.lang.String, java.lang.String, java.lang.reflect.Method)[pri:0, instance:tests.Login@77ec78b9]">inexistingUserLogin</td> 
  <td>TestNG-PoolService-3@439729351</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>18/04/30 11:44:38</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.inexistingUserLogin(java.lang.String, java.lang.String, java.lang.String, java.lang.reflect.Method)[pri:0, instance:tests.Login@77ec78b9]">inexistingUserLogin</td> 
  <td>TestNG-PoolService-3@439729351</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>18/04/30 11:44:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.inexistingUserLogin(java.lang.String, java.lang.String, java.lang.String, java.lang.reflect.Method)[pri:0, instance:tests.Login@77ec78b9]">inexistingUserLogin</td> 
  <td>TestNG-PoolService-3@439729351</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>18/04/30 11:48:18</td>   <td>220281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.requiredLoginFields(java.lang.String, java.lang.String, java.lang.String, java.lang.reflect.Method)[pri:0, instance:tests.Login@77ec78b9]">requiredLoginFields</td> 
  <td>TestNG-PoolService-1@1367122977</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>18/04/30 11:48:18</td>   <td>220282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.requiredLoginFields(java.lang.String, java.lang.String, java.lang.String, java.lang.reflect.Method)[pri:0, instance:tests.Login@77ec78b9]">requiredLoginFields</td> 
  <td>TestNG-PoolService-1@1367122977</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>18/04/30 11:48:18</td>   <td>220280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.requiredLoginFields(java.lang.String, java.lang.String, java.lang.String, java.lang.reflect.Method)[pri:0, instance:tests.Login@77ec78b9]">requiredLoginFields</td> 
  <td>TestNG-PoolService-1@1367122977</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>18/04/30 11:48:18</td>   <td>220281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.requiredLoginFields(java.lang.String, java.lang.String, java.lang.String, java.lang.reflect.Method)[pri:0, instance:tests.Login@77ec78b9]">requiredLoginFields</td> 
  <td>TestNG-PoolService-1@1367122977</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>18/04/30 11:48:18</td>   <td>220281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.requiredLoginFields(java.lang.String, java.lang.String, java.lang.String, java.lang.reflect.Method)[pri:0, instance:tests.Login@77ec78b9]">requiredLoginFields</td> 
  <td>TestNG-PoolService-1@1367122977</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>18/04/30 11:44:38</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.setUp()[pri:0, instance:tests.Login@77ec78b9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-4@74994301</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>18/04/30 11:44:38</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.setUp()[pri:0, instance:tests.Login@77ec78b9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-4@74994301</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>18/04/30 11:44:38</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.setUp()[pri:0, instance:tests.Login@77ec78b9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-4@74994301</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>18/04/30 11:44:38</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.setUp()[pri:0, instance:tests.Login@77ec78b9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-4@74994301</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>18/04/30 11:44:38</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.setUp()[pri:0, instance:tests.Login@77ec78b9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-4@74994301</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>18/04/30 11:48:18</td>   <td>220280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.setUp()[pri:0, instance:tests.Login@77ec78b9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-4@74994301</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>18/04/30 11:48:18</td>   <td>220280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.setUp()[pri:0, instance:tests.Login@77ec78b9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-4@74994301</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>18/04/30 11:48:18</td>   <td>220280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.setUp()[pri:0, instance:tests.Login@77ec78b9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-4@74994301</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>18/04/30 11:48:18</td>   <td>220281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.setUp()[pri:0, instance:tests.Login@77ec78b9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-4@74994301</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>18/04/30 11:48:18</td>   <td>220281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.setUp()[pri:0, instance:tests.Login@77ec78b9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-4@74994301</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>18/04/30 11:52:24</td>   <td>466575</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.setUp()[pri:0, instance:tests.Login@77ec78b9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-4@74994301</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>18/04/30 11:52:24</td>   <td>466577</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.setUp()[pri:0, instance:tests.Login@77ec78b9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-4@74994301</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>18/04/30 11:52:24</td>   <td>466577</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.setUp()[pri:0, instance:tests.Login@77ec78b9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-4@74994301</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>18/04/30 11:52:24</td>   <td>466578</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.setUp()[pri:0, instance:tests.Login@77ec78b9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-4@74994301</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>18/04/30 11:52:24</td>   <td>466583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.setUp()[pri:0, instance:tests.Login@77ec78b9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-4@74994301</td>   <td></td> </tr>
<tr bgcolor="77ab81">  <td>18/04/30 11:45:58</td>   <td>80590</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:tests.Login@77ec78b9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-0@1329886225</td>   <td></td> </tr>
<tr bgcolor="77ab81">  <td>18/04/30 11:46:03</td>   <td>85671</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:tests.Login@77ec78b9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-0@1329886225</td>   <td></td> </tr>
<tr bgcolor="77ab81">  <td>18/04/30 11:47:16</td>   <td>158009</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:tests.Login@77ec78b9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-0@1329886225</td>   <td></td> </tr>
<tr bgcolor="77ab81">  <td>18/04/30 11:47:20</td>   <td>162380</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:tests.Login@77ec78b9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-0@1329886225</td>   <td></td> </tr>
<tr bgcolor="77ab81">  <td>18/04/30 11:48:18</td>   <td>219805</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:tests.Login@77ec78b9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-0@1329886225</td>   <td></td> </tr>
<tr bgcolor="77ab81">  <td>18/04/30 11:49:40</td>   <td>301989</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:tests.Login@77ec78b9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-0@1329886225</td>   <td></td> </tr>
<tr bgcolor="77ab81">  <td>18/04/30 11:49:47</td>   <td>309635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:tests.Login@77ec78b9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-0@1329886225</td>   <td></td> </tr>
<tr bgcolor="77ab81">  <td>18/04/30 11:51:10</td>   <td>392139</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:tests.Login@77ec78b9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-0@1329886225</td>   <td></td> </tr>
<tr bgcolor="77ab81">  <td>18/04/30 11:52:17</td>   <td>459478</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:tests.Login@77ec78b9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-0@1329886225</td>   <td></td> </tr>
<tr bgcolor="77ab81">  <td>18/04/30 11:52:24</td>   <td>466273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:tests.Login@77ec78b9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-0@1329886225</td>   <td></td> </tr>
<tr bgcolor="77ab81">  <td>18/04/30 11:52:27</td>   <td>468877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:tests.Login@77ec78b9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-0@1329886225</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>18/04/30 11:52:24</td>   <td>466575</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.userFoundUserPage(java.lang.String, java.lang.String, java.lang.String, java.lang.reflect.Method)[pri:0, instance:tests.Login@77ec78b9]">userFoundUserPage</td> 
  <td>TestNG-PoolService-4@74994301</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>18/04/30 11:52:24</td>   <td>466582</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.userFoundUserPage(java.lang.String, java.lang.String, java.lang.String, java.lang.reflect.Method)[pri:0, instance:tests.Login@77ec78b9]">userFoundUserPage</td> 
  <td>TestNG-PoolService-4@74994301</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>18/04/30 11:52:24</td>   <td>466577</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.userFoundUserPage(java.lang.String, java.lang.String, java.lang.String, java.lang.reflect.Method)[pri:0, instance:tests.Login@77ec78b9]">userFoundUserPage</td> 
  <td>TestNG-PoolService-4@74994301</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>18/04/30 11:52:24</td>   <td>466577</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.userFoundUserPage(java.lang.String, java.lang.String, java.lang.String, java.lang.reflect.Method)[pri:0, instance:tests.Login@77ec78b9]">userFoundUserPage</td> 
  <td>TestNG-PoolService-4@74994301</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>18/04/30 11:52:24</td>   <td>466583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.userFoundUserPage(java.lang.String, java.lang.String, java.lang.String, java.lang.reflect.Method)[pri:0, instance:tests.Login@77ec78b9]">userFoundUserPage</td> 
  <td>TestNG-PoolService-4@74994301</td>   <td></td> </tr>
</table>
