<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9687bc">  <td>18/04/16 10:04:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ATagsTest.loginElementsPresentTest()[pri:0, instance:smoketests.ATagsTest@646d64ab]">loginElementsPresentTest</td> 
  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="9687bc">  <td>18/04/16 10:04:04</td>   <td>-5555</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ATagsTest.setup()[pri:0, instance:smoketests.ATagsTest@646d64ab]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
<tr bgcolor="9687bc">  <td>18/04/16 10:04:10</td>   <td>177</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ATagsTest.tearDown()[pri:0, instance:smoketests.ATagsTest@646d64ab]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1597655940</td>   <td></td> </tr>
</table>
